body { font-family: sans-serif; margin: 2rem; }
table { border-collapse: collapse; }
th { padding: 0.25rem 0.5rem; }
td {padding: 5px;}

tr:nth-child(even) { background: #f4f4f4; }
tr:nth-child(odd) { background: #ffffff; }
a { text-decoration: none; }