<!DOCTYPE html>
<html>
    <head>
        <meta charset="$enc">
        <title>$title</title>
        <!--suppress CssInvalidHtmlTagReference -->
        <style>
            $css_contents
        </style>
    </head>
    <body>
        <h1>$title</h1>
        $message
        $upload_form
        <table>
            <tr>$table_headers</tr>
            $parent_dir_link
            $rows
        </table>
    <br>
    <br>
    <a href="#" onclick="history.back(); return false;">$back_svg</a>
    </body>
</html>